@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  background-color: black;
  width: 100%;
  height: 124vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 79% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 79% 80%, 0 100%);
}

.navbar {
  background-color: black;
}
.navbar-toggler {
  color: #fff !important;
}
.button {
  color: #fff !important;
  letter-spacing: 0.1rem;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  text-transform: uppercase !important;
  padding: 0.3rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  border-radius: 0.6rem;
  background-color: black !important;
}
.button:hover {
  background-color: #0656ec !important;
}
.features-btn {
  background-color: #0656ec !important;
  color: white !important;
}
.card:hover .features-btn {
  background-color: white !important;
  color: black !important;
  cursor: pointer;
}

.home-img img {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;

  height: auto;
}

.about_read a {
  color: #353434;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.6rem;
  text-decoration: none;
  transition: 0.3s;
}

.about_read a:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: #0656ec;
}

.features {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  position: relative;
}

.features::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(160deg, #080808 55%, #fff 0%);
}

.features-heading:hover {
  color: white !important;
}

.card {
  transition: 0.6s !important;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-15px);
  background-color: #0656ec !important;
  color: white !important;
}

.card img {
  border-radius: 1rem !important;
}

.contact {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(345deg, #080808 55%, #fff 0%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 50vh;
  -webkit-clip-path: polygon(51% 0, 100% 36%, 100% 100%, 0 100%, 0 34%);
  clip-path: polygon(51% 0, 100% 36%, 100% 100%, 0 100%, 0 34%);
}
.btn {
  border-radius: 1rem !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}
