* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  background-color: black;
  width: 100%;
  height: 124vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 79% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 79% 80%, 0 100%);
}

.navbar {
  background-color: black;
}
.navbar-toggler {
  color: #fff !important;
}
.button {
  color: #fff !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  text-transform: uppercase !important;
  padding: 0.5rem !important;
  font-weight: bold !important;
  font-size: 1rem !important;
  border-radius: 1rem;
}
.active,
.button:hover {
  color: #0656ec !important;
}

.home-img img {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  /* height: 50vh; */
  height: auto;
}

.about_read a {
  color: #353434;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.about_read a:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: #0656ec;
}

.features {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  position: relative;
}

.features::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(160deg, #080808 55%, #fff 0%);
}

.card {
  transition: 0.3s;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-15px);
  /* padding: 0; */
  /* border-radius: 1rem 1rem 2rem 2rem; */
}

.card img {
  border-radius: 1rem !important;
}

.contact {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(345deg, #080808 55%, #fff 0%);
}

.footer {
  position: relative;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 80vh;
  -webkit-clip-path: polygon(51% 0, 100% 36%, 100% 100%, 0 100%, 0 34%);
  clip-path: polygon(51% 0, 100% 36%, 100% 100%, 0 100%, 0 34%);
}
.btn {
  border-radius: 1rem !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}
